.document-options{
    position: fixed;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    background-color: var(--dark-main-color);
    padding: 10px 27px;
    border-radius: 2rem;
    text-decoration: underline;
    font-size: 15px;
    z-index: 3;
}

.show-document-options{
    opacity: 1;
    top: 70px;
}